<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Ticket Plan</title>
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/movies.css">
</head>
<body>
    <!--Scrool to top-->
    <div class="overlay"></div>
    <a href="#" class="scrollToTop" id="scrollToTop">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Header Section -->
    <header class="header">
        <nav class="navbar">
            <!-- <div class="header-wrapper"> -->
                <div class="header-bar">
					<span></span>
					<span></span>
					<span></span>
				</div>
                <div class="logo">
                    <a href="#">
                        <img src="./Assests/footer-logo.png" alt="Boleto Logo" class="logo-image">
                    </a>
                </div>
                <ul class="nav-links">
                    <li><a href="/">HOME</a></li>
                    <li><a href="/#movies">MOVIES</a></li>
                    <li><a href="/#special">CONCERTS</a></li>
                    <li><a href="/#sports">SPORTS</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/ai">BOLETO AI</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                </ul>
                <div class="cta">
                    <a href="/auth/logout" class="btn">Log out</a>
                </div>
                
            <!-- </div> -->
        </nav>
    </header>

    <!-- banner Sectionn -->
    <section class="banner-section">
        <div class="actual-banner"></div>
        <div class="container">
            <div class="banner-content">
                <h1 class="titleee">
                    <span class="d-block"></span> 
                    CINEMAS
                    <span class="words-wrapper">
                        <b class="auto-type"></b>
                    </span>
                </h1>
                <p>ENGLISH , HINDI ,TELGU ,TAMIL</p>
            </div>
        </div>
    </section>
    <!-- banner Sectionn ends -->

    <div class="schedule-container">
        <ul class="schedule-list">
          <!-- Row 1 -->
            <li>
                <div class="info">
                    <i class="bx bxs-heart"></i>
                    <span class="cinema-name">PVR</span>
                    <div>
                        <i class='bx bxs-map'></i>
                    </div>
                </div>
                <div class="showtimes">
                    <div>09:40</div>
                    <div>13:45</div>
                    <div>15:45</div>
                    <div>19:50</div>
                </div>
            </li>
          <!-- Row 2 -->
            <li>
                <div class="info">
                <i class="bx bxs-heart"></i>
                <span class="cinema-name">CARNIVAL CINEMAS</span>
                <div>
                    <i class='bx bxs-map'></i>
                </div>
                </div>
                <div class="showtimes">
                    <div>09:40</div>
                    <div>13:45</div>
                    <div>15:45</div>
                    <div>19:50</div>
                </div>
            </li>
          <!-- Row 3 -->
            <li>
                <div class="info">
                <i class="bx bxs-heart"></i>
                <span class="cinema-name">MIRAJ CINEMAS</span>
                <div>
                    <i class='bx bxs-map'></i>
                </div>
                </div>
                <div class="showtimes">
                    <div>09:40</div>
                    <div>13:45</div>
                    <div>15:45</div>
                    <div>19:50</div>
                </div>
            </li>
          <!-- Row 4 -->
            <li>
                <div class="info">
                <i class="bx bxs-heart"></i>
                <span class="cinema-name">ASHOKA TALKIES</span>
                <div>
                    <i class='bx bxs-map'></i>
                </div>
                </div>
                <div class="showtimes">
                    <div>09:40</div>
                    <div>13:45</div>
                    <div>15:45</div>
                    <div>19:50</div>
                </div>
            </li>
          <!-- Row 5 -->
            <li>
                <div class="info">
                <i class="bx bxs-heart"></i>
                <span class="cinema-name">PACIFIC CINEMAS</span>
                <div>
                    <i class='bx bxs-map'></i>
                </div>
                </div>
                <div class="showtimes">
                    <div>09:40</div>
                    <div>13:45</div>
                    <div>15:45</div>
                    <div>19:50</div>
                </div>
            </li>
          <!-- Row 6 -->
            <li>
                <div class="info">
                <i class="bx bxs-heart"></i>
                <span class="cinema-name">RAVE MOTI MALL</span>
                <div>
                    <i class='bx bxs-map'></i>
                </div>
                </div>
                <div class="showtimes">
                    <div>09:40</div>
                    <div>13:45</div>
                    <div>15:45</div>
                    <div>19:50</div>
                </div>
            </li>
        </ul>
    </div>

    <!-- Footer Section -->
    <footer class="footer">
        <div class="photoo">
            <div class="newslater">
                <div class="banner">
                    <div class="newslater-wrapper">
                        <h2 class="cate">Subscribe to Boleto </h2>
                        <h1 class="title">TO GET EXCLUSIVE BENIFITS</h1>
                        <form class="newslater-form">
                            <div class="input-wrapper">
                                <input type="email" placeholder="Your Email Address">
                                <button type="submit">Subscribe</button>
                            </div>
                        </form>
                        <p>We respect your privacy, so we never share your info</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="seprate">
            <div class="footer-top">
                <div class="logo">
                    <a href="index.html">
                        <img src="./Assests/footer-logo.png" alt="Boleto Logo" class="logo-image">
                    </a>
                </div>
                <div class="social-icons">
                    <a href="https://www.facebook.com/adityamohan.gupta.52" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://x.com/AdityaMoha83182" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/in/aditya-mohan-gupta-768b28259/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="mailto:aditya2004mohan@gmail.com?subject=Hello&body=I%20would%20like%20to%20contact%20you."><i class="fab fa-google"></i></a>
                    <a href="https://www.instagram.com/aditya_mohan_gupta/" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="footer-bottom">
                <p>Copyright &copy; 2024. All Rights Reserved By <span class="brand">Boleto</span></p>
                <div class="footer-links">
                    <a href="/about">About</a>
                    <a href="/termsuse">Terms Of Use</a>
                    <a href="/privacy">Privacy Policy</a>
                    <!-- <a href="#">FAQ</a> -->
                    <!-- <a href="#">Feedback</a> -->
                </div>
            </div>
        </div>
    </footer>

    <div id="seat-selection-modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h3>Welcome!</h3>
            <h2>SELECT YOUR SEATS</h2>
            <div class="seat-icon">
                <img src="../assests/seat-plan.png" alt="hi">
            </div>
            <form action="/movies/seat">
                <button class="seat-plan-btn">SEAT  PLANS<i class='bx bxs-chevron-right'></i></button>
            </form>
        </div>
    </div>
    <script src="/js/movies.js"></script>
</body>
</html>